@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    border: 1px  solid black;
    width: 1440px;
    height: 4234px;
    margin: 0 auto;
    font-family: "Mulish", sans-serif;
}
.nav{
    width: 1180px;
    height: 41px;
    border: 1px  ;
    margin: 0 auto;
    display: flex;
    margin-top: 46px;
}
.nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0px 0px 0px 575px;
    font-size: 14px ;
    font-weight: 700;
    color: #7D7987;
    width: 545px;
}
.nav ul li:hover{
    color: #1F1534;
}
.select{
    width: 1180px;
    height: 466px;
    margin-top: 178px;
    border: 1px  ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.d{
    width: 1180px;
    height: 91px;
    border: 1px  ;
    margin: 0 auto;
}
.h1{
    padding: 85px 0 0 0;
}
.p{
    
}
.button{
    width: 158px;
    height: 49px;
    border-radius: 55px;
    background-color: #458FF6;
    color: #FFFFFF;
}
.i{
    
}
.dav{
    display: block;
}
.nam{
    border: 1px  ;
    width: 952px;
    height: 180px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}
.text{
    text-align: center;
    color: #7D7987;
}
.h2{
    color: #1F1534;
}
.a{
    border: 1px  ;
    width: 1180px;
    height: 36px;
    margin: 0 auto;
}
.block{
    width: 1180px;
    height: 805px;
    margin:0 auto;
    border: 1px  ;
}
.block div:hover{
    background-color: #458FF6;
    color: white;
}
.q1{
    display: block;
    width: 380px;
    height: 380px;
    border: 1px  ;
    border-radius: 20px;
    font-size: 20px;
    background-color: #E7E7E7;
}
.da{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.imgs{
    width: 97px;
    height: 94px;
}
.img2{
    margin: 30px;
}
.e{
    border: 1px solid #458FF6;
    width: 200px;
    height: 57px;
    border-radius: 55px;
    background-color: #FFFFFF;
    color: #458FF6;
    margin-left: 630px;
    margin-top: 100px;
}
.e:hover{
    background-color: #458FF6;
    color: white;
}
.container2{
    width: 536px;
    height: 74px;
    border: 1px ;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}
.wer{
    width: 1180px;
    height: 469px;
    border: 1px ;
    margin: 0 auto;
}
.kop{
    padding: 33px;
    padding-left: 0;
}
.cv{
    margin-top: -350px;
    margin-left: 734px;
}
.e1{
    border: 1px solid #458FF6;
    width: 200px;
    height: 57px;
    border-radius: 55px;
    background-color: #FFFFFF;
    color: #458FF6;
    margin-left: 730px;
    margin-top: -0px; 
}
.e1:hover{
    background-color: #458FF6;
    color: white;
}
.fgh{
    width: 1180px;
    height: 782px;
    border: 1px ;
    margin: 0 auto;
    text-align: center;
}
.imgtext{
    display: flex;
    gap: 20px;
    margin-top: -700px;
    margin-left: 130px;
}
.uptext{
    display: flex;
    gap: 149px;
    margin-left: 160px;
}
.downtext{
    display: flex;
    gap: 180px;
    margin-left: 160px;
}
.down{
    color: #4089ED;
    display: flex;
    margin-left: 160px;
    gap: 315px;
}
.down p:hover::before{
    content: 'before';
    color: green;
}
.down p:hover::after{
    content: 'after ishlatdim';
    color: green;
}
.e2{
    border: 1px solid #458FF6;
    width: 200px;
    height: 57px;
    border-radius: 55px;
    background-color: #FFFFFF;
    color: #458FF6;
    margin-left: 630px;
    margin-top: 100px;
}
.e2:hover{
    background-color: #458FF6;
    color: white;
}
.footer{
    width: 1440px;
    height: 432px;
    border: 1px solid #5A98F2;
    margin: 0 auto;
    margin-top: 199px;
    background-color: #5A98F2;
    color: white;
}
.foot{
    width: 1180px;
    height: 142px;
    border: 1px solid #5A98F2;
    margin: 0 auto;
    margin-top: 159px;
    display: flex;
    gap: 160px;
}
.lk{
    width: 400px;
    height: 84px;
    font-size: 18px;
}